
/* Custom Imports */
@import url("/css/loading_screen.css");
@import url("/css/green_colour_palette.css");
@import url("/css/global_text_format_1.css");
@import url("/css/custom_scrollbar_1.css");
@import url("/css/nav_bar.css");
@import url("/css/animations_on_hover.css");
@import url("/css/animations_on_visible.css");
@import url("/css/footer.css");
@import url("/css/global_responsive_vars.css");

html {
    height: 100%;
    font-family: var(--global_default_font);
    font-size: 62.5%;

    overflow: hidden;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    background-color: var(--background_colour);
    background-size: 100vw 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

h1 {
    left: 0px;
    margin-right: auto;
    width: unset;
}
p {
    margin-top: 3em;
}

#foreground {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

/* Content */

#content_wrapper {
    position: relative;
    display: flex;
    width: inherit;
    height: inherit;
}
#text_wrapper {
    position: relative;
    display: grid;
    align-self: center;
    margin-left: 10vw;
    margin-bottom: 10vh;
    width: 60vw;
}


/*** Footer ***/

#footer {
    position: absolute;
    bottom: 0px;
}

/*** Background ***/

#background {
    z-index: -1;
}
#splash_image_wrapper, #splash_background_wrapper{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#splash_image_wrapper svg {
    opacity: 0.1;
}
#splash_image_wrapper svg, #splash_background_wrapper svg{
    position: absolute;
    align-self: center;
    height: 90vh;
    width: auto;
}
#splash_image_wrapper #splash_image_svg path,
#splash_image_wrapper #splash_image_svg rect,
#splash_image_wrapper #splash_image_svg ellipse {
    fill: var(--dark_mid);
}
#splash_background_wrapper svg {
    opacity: 0.1;
    width: 100vw;
    height: auto;
}
#splash_background_wrapper svg ellipse {
    fill: var(--highlight_mid);
    stroke: var(--highlight_mid);
}
#splash_background_wrapper svg path {
    stroke: var(--highlight_mid);
}

/*** Specific Media Queries ***/

@media all and (max-width: 2000px) {
    html {
        font-size: var(--font_size_below_2000);
    }
}
@media all and (max-width: 1400px) {
    html {
        font-size: var(--font_size_below_1400);
    }
}
@media all and (max-width: 800px) {
    html {
        font-size: var(--font_size_below_800);
    }
    #content_wrapper {
        /* margin-top: 32vw; */
        min-width: 280px;
    }
}