
/*

To use: Add the classes "animate_on_visible" and the desired animation effect's class.

eg.
<div class = "animate_on_visible .slide_left_fade_in"> ... </div>

Requires animate_on_visible.js

*/

.slide_left_fade_in {
    opacity: 0;
    transition: transform .5s .2s ease-out, opacity .5s .2s ease-out;
    transform: translateX(50px);
    will-change: opacity, transform;
}
.slide_right_fade_in {
    opacity: 0;
    transition: transform .5s .2s ease-out, opacity .5s .2s ease-out;
    transform: translateX(-50px);
    will-change: opacity, transform;
}
.expanding_fade_in {
    opacity: 0;
    transition: transform .5s .2s ease-out, opacity .5s .2s ease-out;
    transform: scale(0.5);
    will-change: opacity, transform;
}
.shrinking_fade_in {
    opacity: 0;
    transition: transform .5s .2s ease-out, opacity .5s .2s ease-out;
    transform: scale(2);
    will-change: opacity, transform;
}
.rising_fade_in {
    opacity: 0;
    transition: transform .5s .2s ease-out, opacity .5s .2s ease-out;
    transform: translateY(50px);
    will-change: opacity, transform;
}
.falling_fade_in {
    opacity: 0;
    transition: transform .5s .2s ease-out, opacity .5s .2s ease-out;
    transform: translateY(-50px);
    will-change: opacity, transform;
}
.fade_in {
    opacity: 0;
    transition: opacity .5s .2s ease-out;
    will-change: opacity;
}
.is_visible {
    opacity: 1 !important;
    transform: scale(1) translateY(0px) translateX(0px) !important;
}