:root {
    /* Grayscale Dark Theme */
    --highlight_base: rgb(158, 158, 158);
    --highlight_mid: rgb(180, 180, 180);
    --highlight_bright: rgb(228, 228, 228);
    --dark_base: rgb(78, 78, 78);
    --dark_mid: #747474;
    --background_colour: #040404;
}