:root {
    /* Green Dark Theme */
    --highlight_base: rgb(37, 185, 0);
    --highlight_mid: rgb(18, 221, 0);
    --highlight_bright: rgb(78, 255, 72);
    --dark_base: rgb(0, 48, 8);
    --dark_mid: #004606;
    --background_colour: #040404;
}