
/* Font Imports */
@import url('https://fonts.googleapis.com/css?family=Aldrich|Megrim|Offside|Syncopate:400,700&display=swap');

/* Custom Imports */
@import url("/css/grayscale_colour_palette.css");
@import url("/css/global_text_format_1.css");
@import url("/css/custom_scrollbar_1.css");
@import url("/css/animations_on_hover.css");
@import url("/css/animations_on_visible.css");
@import url("/css/nav_bar.css");
@import url("/css/footer.css");

:root {
    --global_video_width: 40vw;
}

html {
    height: 100%;
    font-family: "Aldrich";
    font-size: 62.5%;

    overflow: hidden;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    background-color: var(--background_colour);
    background-size: 100vw 100vh;

    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}
svg {
    margin: 0px;
    padding: 0px;
}

hr {
    position: relative;
    display: block;
    height: 1px;
    width: 30vw;
    border: 0;
    padding: 0;
    border-top: 1px solid var(--highlight_base);
    margin-bottom: 20vh;
    margin-top: 20vh;
}

.section_text p {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

/*** Parallax layers ***/

.parallax_layer_1 {
    position: relative;
    /* transform: translateZ(-1px); */
    transform: translateZ(-1px) scale(2);
}
.parallax_layer_2 {
    position: relative;
}

/*** Content ***/

#foreground {
    position: absolute;
    z-index: 0;
    background: none;
}

#content_wrapper {
    position: relative;
    margin-bottom: 20vh;
}

/*** Splash Band ***/

#splash_band {
    position: relative;
    height: 100vh;
}
#splash_band_content_wrapper {
    position: relative;
    top: 50vh;
    left: 50vw;
}
#splash_band_content_wrapper #project_title_block {
    position: absolute;
    left: -25em;
    top: 10em;
    z-index: 2;
}
#splash_band_content_wrapper #project_title_suffix {
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: fit-content;
    position: absolute;
    left: -2.3em;
    top: -0.5em;
    font-size: 4em;
    color: var(--highlight_base);
    font-family: "Megrim";
}
#splash_band_content_wrapper #project_title {
    position: absolute;
    width: fit-content;
    text-align: left;
    top: -0.7em;
    font-size: 8em;
    margin: 0px;
    padding: 0px;
    /* font-weight: bold; */
    font-family: "Megrim";
}
#splash_band_content_wrapper #project_subtitle {
    position: absolute;
    left: 0.5em;
    top: 1.5em;
    width: 20em;
    font-size: 1.6em;
    color: var(--highlight_base);
    margin-top: 0px;

    z-index: 11;
}
#splash_band_content_wrapper #render_wrapper {
    position: relative;
    top: -20em;
    left: -20em;
    z-index: 1;
}
#render {
    position: absolute;
    width: 60em;
}

/*** About Band ***/

#about_band {
    position: relative;
    height: fit-content;
}
#about_band_content_wrapper {
    margin-top: 40vh;
    position: relative;
    width: inherit;
    height: inherit;
    z-index: 3;
}

/*** Design Overview Band ***/

#design_overview_band {
    height: fit-content;
}
#design_overview_band_content_wrapper {
    position: relative;
    width: inherit;
    display: grid;
    grid-template: "cad content_text" / 5fr 4fr;
    grid-column-gap: 5vw;
}
#design_overview_band_content_wrapper #media_wrapper {
    grid-area: cad;
    justify-self: end;
    align-self: center;
}
#design_overview_band_content_wrapper #media_wrapper #explosion_gif {
    display: block;
    width: 40vw;
}
#design_overview_band_content_wrapper #text_content_wrapper {
    grid-area: content_text;
    justify-self: start;
    align-self: center;
    width: 30vw;
}
#design_overview_band_content_wrapper #text_content_wrapper h1 {
    margin: 0px;
}
#design_overview_band_content_wrapper #text_content_wrapper p {
    text-align: center;
}

/*** In Action Band ***/

#in_action_band {
    position: relative;
    margin-bottom: 30vh;
}
#in_action_media_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
#in_action_media_wrapper video {
    width: 50vw;
    height: auto;
    z-index: 1;
}
#in_action_media_wrapper #in_action_media_backing {
    position: absolute;
    background: linear-gradient(90deg,var(--highlight_mid) 7.55%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.5;
    width: 55vw;
    height: calc((50vw / 16) * 9);
    margin-top: 5vh;
    z-index: 0;
}

/*** Key Features Band ***/

#key_features_band {
    height: fit-content;
}
#key_features_band h2 {
    margin-top: 0px;
}
.key_feature_section {
    position: relative;
    width: inherit;
    height: inherit;
    display: grid;
    grid-column-gap: 5vw;
    margin-top: 30vh;
    margin-bottom: 30vh;
}
.key_feature_section .media_wrapper {
    position: relative;
    grid-area: media;
    align-self: center;
}
.key_feature_section .media_wrapper .feature_video {
    position: absolute;
    z-index: 1;
    width: var(--global_video_width);
    height: auto;
}
.key_feature_section .media_wrapper .media_backing {
    position: relative;
    background: var(--highlight_base);
    opacity: 0.5;
    width: var(--global_video_width);
    height: calc((var(--global_video_width) / 16) * 9);
    margin-top: 3vh;
}
.key_feature_section .text_content_wrapper {
    grid-area: content_text;
    align-self: center;
    width: 30vw;
}
.key_feature_section .text_content_wrapper .section_text p {
    margin-top: 2em;
    width: 30vw;
}

.key_feature_section.odd {
    grid-template: "media content_text" / 5fr 4fr;
}
.key_feature_section.odd .media_wrapper {
    justify-self: end;
}
.key_feature_section.odd .media_wrapper .feature_video {
    right: 0px;
}
.key_feature_section.odd .media_wrapper .media_backing {
    margin-right: 2vw;
    background: linear-gradient(90deg,var(--highlight_mid) 7.55%, rgba(0, 0, 0, 0) 100%);
}
.key_feature_section.odd .text_content_wrapper {
    justify-self: start;
}

.key_feature_section.even {
    grid-template: "content_text media" / 4fr 5fr;
}
.key_feature_section.even .media_wrapper {
    justify-self: start;
}
.key_feature_section.even .media_wrapper .feature_video {
    left: 0px;
}
.key_feature_section.even .media_wrapper .media_backing {
    margin-left: 2vw;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 7.55%, var(--highlight_mid) 100%);
}
.key_feature_section.even .text_content_wrapper {
    justify-self: end;
}

/*** Band 5 ***/

#retrospect_and_revision_band {
    height: fit-content;
}
.retrospect_and_revision_section .header_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}
.retrospect_and_revision_section .header_block h2 {
    margin: 0px;
    padding: 0px;
    margin-left: 1em;
}
.retrospect_and_revision_section .header_block .icon_wrapper {
    height: 6em;
}
.retrospect_and_revision_section .header_block .icon_wrapper svg {
    height: 100%;
    width: auto;
}
.retrospect_and_revision_section .header_block .icon_wrapper svg path {
    fill: var(--highlight_base);
}
.retrospect_and_revision_section_content_wrapper {
    position: relative;
    width: inherit;
    height: inherit;
    display: grid;
    grid-column-gap: 5vw;
    grid-template: "shortcoming upgrade" / 1fr 1fr;
}
.retrospect_and_revision_section_content_wrapper .section_text p {
    width: 30vw;
    margin-top: 2em;
}
.shortcoming_wrapper {
    grid-area: shortcoming;
    justify-self: right;
}
.upgrade_wrapper {
    grid-area: upgrade;
    justify-self: left;
}

/*** Background Stuff ***/

#background_overlay {
    position: absolute !important;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1 !important;
}
.bg_hex_skele_1_wrapper {
    position: relative;
    opacity: 0.3;
    height: 100vh;
    display: grid;
    align-content: center;
}
.bg_hex_skele_1_svg path {
    fill: var(--highlight_mid);
}
.bg_hex_full_1_wrapper {
    position: relative;
    opacity: 0.3;
}
.bg_hex_full_1_svg path {
    fill: var(--dark_base);
}
