
/* Font Imports */
@import url('https://fonts.googleapis.com/css?family=Aldrich|Megrim|Offside|Syncopate:400,700&display=swap');

/* Custom Imports */
@import url("/css/loading_screen.css");
@import url("/css/purple_colour_palette.css");
@import url("/css/global_text_format_1.css");
@import url("/css/custom_scrollbar_1.css");
@import url("/css/animations_on_hover.css");
@import url("/css/animations_on_visible.css");
@import url("/css/nav_bar.css");
@import url("/css/footer.css");
@import url("/css/global_responsive_vars.css");


html {
    height: 100%;
    font-family: "Aldrich";
    font-size: 62.5%;

    overflow: hidden;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    background-color: var(--background_colour);
    background-size: 100vw 100vh;

    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

img {
    height: auto;
    width: 100%;
    filter: brightness(1.5);
}

a {
    text-decoration: none;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
}

/*** Parallax layers ***/

.parallax_layer_1 {
    position: relative;
    /* transform: translateZ(-1px); */
    transform: translateZ(-1px) scale(2);
}
.parallax_layer_2 {
    position: relative;
}

#foreground {
    position: absolute;
    z-index: 0;
    background: none;
}

#content_wrapper {
    position: relative;
}

#project_list {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 5vw;
    margin-left: 20vw;
    margin-top: 24vh;
    margin-bottom: 30vh;
}
.project_item {
    position: relative;
    display: grid;
    grid-template: "emblem caption" / 1fr 2fr;
    grid-column-gap: 1vw;
    align-items: center;
    width: 50vw;
    height: 20vh;
}
.project_item .project_emblem {
    position: relative;
    width: 16vw;
    height: inherit;
    transition: all 0.2s ease-out;
}
.project_item svg path {
    transition: all 0.2s ease-out;
}
.project_item p,
.project_item h2 {
    transition: all 0.2s ease-out;
}
.project_item:hover {
    cursor: pointer;
}
.project_item:hover svg path {
    stroke: var(--highlight_bright) !important;
    fill: none !important;
    color: none !important;
}
.project_item:hover p,
.project_item:hover h2 {
    color: var(--highlight_bright) !important;
}
.project_item:hover .project_emblem {
    transform: scale(1.1);
    grid-area: emblem;
}

.project_item .project_emblem img {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 20%;
    right: 20%;
}
.project_item .project_emblem svg {
    position: absolute;
    width: 100%;
    right: 0px;
    height: auto;
    z-index: 0;
}
.project_item .project_emblem svg path {
    stroke: var(--highlight_base);
    opacity: 1;
}
.project_item .project_caption {
    grid-area: caption;
    align-items: center;
    justify-content: start;
}
.project_item .project_caption .title_block {
    display: flex;
}
.project_item .project_caption .title_block h2 {
    font-family: "Megrim";
    text-align: left;
    font-size: 2em;
    margin: 0px;
    margin-top: auto;
    bottom: 0.5em;
}
.project_item .project_caption .title_block h1 {
    font-family: "Megrim";
    text-align: left;
    font-size: 6em;
    margin: 0px;
}
.project_item .project_caption p {
    margin: 0px;
    text-align: left;
}

/* Background */

#background_overlay {
    position: absolute !important;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    
    z-index: -1 !important;
}
.bg_hex_skele_wrapper {
    position: relative;
    opacity: 0.2;
    height: 100vh;
    display: grid;
    align-content: center;
}
.bg_hex_skele_wrapper svg {
    width: 100vw;
}
.bg_hex_skele_wrapper svg path {
    stroke: var(--highlight_mid);
}
.bg_hex_skele_wrapper svg ellipse {
    fill: var(--highlight_mid);
    stroke: var(--highlight_mid);
}
.bg_hex_full_wrapper {
    position: relative;
    opacity: 0.2;
}
.bg_hex_full_wrapper svg {
    width: 100vw;
}
.bg_hex_full_wrapper svg path {
    fill: var(--dark_base);
}

/*** Specific Media Queries ***/

@media all and (max-width: 2000px) {
    html {
        font-size: var(--font_size_below_2000);
    }
}
@media all and (max-width: 1400px) {
    html {
        font-size: var(--font_size_below_1400);
    }
}
@media all and (max-width: 800px) {
    html {
        font-size: var(--font_size_below_800);
    }
    #project_list {
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        margin-bottom: 20vh;
    }
    .project_item {
        grid-template: "emblem" "caption";
        justify-content: center;
        height: 30em;
    }
    .project_item .project_emblem {
        height: unset;
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 20em;
    }
    .project_item .project_caption {
        grid-area: caption;
        display: table;
        margin-top: auto;
        justify-items: center;
    }
    .project_item .project_caption .title_block {
        justify-content: center;
    }
    .project_item .project_caption .title_block h2 {
        text-align: center;
    }
    .project_item .project_caption .title_block h1 {
        font-size: 5em;
        text-align: center;
    }
    .project_item .project_caption p {
        text-align: center;
    }

}