@import url("/css/project_page.css");

@import url("/css/orange_colour_palette.css");

body::after{
    /* Preloading */
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -10;
    content:
        url("/project_media/project_nak/renders/render_1.png")
        url("/project_media/project_nak/gifs/explosion_1/explosion_1_start.png")
        url("/project_media/project_nak/gifs/explosion_1/explosion_1_end.png")
        url("/project_media/project_nak/gifs/explosion_1/explosion_1_forward.gif")
        url("/project_media/project_nak/gifs/explosion_1/explosion_1_reversed.gif")
        url("/project_media/project_nak/pictures/passive_muscle.jpg")
        url("/project_media/project_nak/videos/low_ripple.mp4")
        url("/project_media/project_nak/videos/low_tripod.mp4")
        url("/project_media/project_nak/videos/passive_muscle_vid.mp4")
        url("/project_media/project_nak/videos/ripple_1.mp4")
        url("/project_media/project_nak/videos/ripple_2.mp4")
        url("/project_media/project_nak/videos/ripple_rpy.mp4")
        url("/project_media/project_nak/videos/rp_and_z.mp4")
        url("/project_media/project_nak/videos/rpy.mp4")
        url("/project_media/project_nak/videos/swing_speed.mp4")
        url("/project_media/project_nak/videos/trajectory_control.mp4")
        url("/project_media/project_nak/videos/tripod_1.mp4")
        url("/project_media/project_nak/videos/tripod_2.mp4")
        url("/project_media/project_nak/videos/tripod_rpy.mp4")
        url("/project_media/project_nak/videos/tripod_xyz.mp4")
        url("/project_media/project_nak/videos/xy_and_yaw.mp4")
        url("/project_media/project_nak/videos/xyz.mp4")
 }

#splash_band_content_wrapper #render_wrapper {
    filter: brightness(1.2);
}
#design_overview_band_content_wrapper #media_wrapper #explosion_gif {
    filter: brightness(1.2);
}